.header{
  width: 100%;
  height: 100px;
  background: #94b8dd;
  color: red;
  padding-top: 30px;
  display: flex;
}
.logo{
  margin-left: 100px;
}
.logo a{
  color: red;
  font-size: 45px;
  text-decoration: none;
  font-weight: bold;
}
.nav{
  margin-left: 415px;
}
.nav a{
  color: #fff;
  font-size: 40px;
  margin-left: 30px;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
}
.nav a:hover{
  background: grey;
  border-radius: 10px;
}
.big_block{
  display: flex;
}
.left_block{
  width: 200px;
  height: 714px;
  background: red;
}
.tov{
  color: #fff;
}
.text{
  display: block;
}
.tov{
  margin-left: 10px;
}
.left_block ul{
  padding-left: 20px;
}
.nav_bar a{
  color: #fff;
  width: 150px;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}
.nav_bar a:hover{
  background: #710909;
  border-radius: 15px;
}
.nav{
  max-height: 0;
}
.card{
  margin: 10px;
  width: 250px;
  height: 420px;
  border: 2px solid #000;
 }
.card img{
  width: 250px;
  height: 250px;
}
.card h1{
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 20px;
}
.card p{
  margin-top: 5px;
}
.buy{
  text-align: center;
}
.buy a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 40px;
  background: #41DB00;
  border-radius: 10px;
}
.buy a:hover{
  background: red;
  transition: 1s;
}
.add{
  width: 100%;
  height: 700px;
  margin-top: 10px;
  border: 2px solid #000;
}
.add h1{
  margin: 0;
  padding: 10px;
}
.addReklama{
  display: none;
}
.addReklama h1{
  margin: 0;
}
.add h1:hover{
  display: none;
  transition: 2s;
}
.add:hover .addReklama{
  width: 100%;
  height: 700px;
  color: #fff;
  display: block;
  background: black;
}
.footer{
  background: #6f6f6f;
  text-align: center;
}
.footer p{
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 10px;
}